<html>
  <head>
    <script>
    (function(w,d,s,g,js,fs){
      g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
      js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
      js.src='https://apis.google.com/js/platform.js';
      fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
    }(window,document,'script'));
    </script>
    <script>

    gapi.analytics.ready(function() {

      /**
       * Authorize the user immediately if the user has already granted access.
       * If no access has been created, render an authorize button inside the
       * element with the ID "embed-api-auth-container".
       */
      gapi.analytics.auth.authorize({
        container: 'embed-api-auth-container',
        clientid: '266820420003-p9429efjpmbh0vtulkgr1il12bu8r7jm.apps.googleusercontent.com',
      });


      /**
       * Create a new ViewSelector instance to be rendered inside of an
       * element with the id "view-selector-container".
       */
      var viewSelector = new gapi.analytics.ViewSelector({
        container: 'view-selector-container'
      });

      // Render the view selector to the page.
      viewSelector.execute();


      /**
       * Create a new DataChart instance with the given query parameters
       * and Google chart options. It will be rendered inside an element
       * with the id "chart-container".
       */
      var dataChart = new gapi.analytics.googleCharts.DataChart({
        query: {
          metrics: 'ga:sessions',
          dimensions: 'ga:date',
          'start-date': '30daysAgo',
          'end-date': 'yesterday'
        },
        chart: {
          container: 'chart-container',
          type: 'LINE',
          options: {
            width: '100%'
          }
        }
      });


      /**
       * Render the dataChart on the page whenever a new view is selected.
       */
      viewSelector.on('change', function(ids) {
        dataChart.set({query: {ids: ids}}).execute();
      });

    });
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["table"]});
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawTable);
      google.setOnLoadCallback(drawChart);
      function drawTable() {
      var data = new google.visualization.DataTable();

        // Declare columns
      data.addColumn('datetime', 'Date');
      data.addColumn('number', 'Sentiment');
      data.addColumn('string', 'Post');
      data.addRows([
            {% for dayname, num,p in chartdata %}
                [new Date({{ dayname[0] }},{{ dayname[1] }},{{ dayname[2] }}), Number({{ num }}),'{{p}}']
                    {% if not loop.last %}
                        ,
                    {% endif %}
            {% endfor %}
        ]);
       var table = new google.visualization.Table(document.getElementById('table_div'));
       table.draw(data, {showRowNumber: true,allowHtml: true});
      }

     function drawChart() {
        var cdata = new google.visualization.DataTable();

        // Declare columns
        cdata.addColumn('datetime', 'Date');
        cdata.addColumn('number', 'Sentiment');

        cdata.addRows([
                {% for dayname, num,p in chartdata %}
                    [new Date({{ dayname[0] }},{{ dayname[1] }},{{ dayname[2] }}), Number({{ num }})]
                        {% if not loop.last %}
                            ,
                        {% endif %}
                {% endfor %}
            ]);
/*        var data2=google.visualization.arrayToDataTable([
          ['Date', 'Sentiment'],
          [ new Date(2015, 0, 25),      12],
          [ new Date(2015, 0, 26),      5.5],
          [ new Date(2015, 0, 27),     14],
          [ new Date(2015, 0, 28),      5],
          [ new Date(2015, 0, 30),      3.5],
          [ new Date(2015, 0, 31),    7],
        ]);*/
        var options = {
          title: 'Sentiment vs. Date comparison',
          hAxis: {title: 'Date',format: 'M/d/yy',gridlines: {count: 15}},
          vAxis: {title: 'Sentiment', minValue: -1, maxValue: 1},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(cdata, options);
    }
  </script>
  </head>
  <body>
    <div id="table_div"></div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="embed-api-auth-container"></div>
    <div id="chart-container"></div>
    <div id="view-selector-container"></div>
 <!--   {% for dayname, num,post in chartdata %}
        [{{ dayname }}, {{ num }},{{post}}]
        {% if not loop.last %}
            ,
        {% endif %}
    {% endfor %}-->
  </body>
</html>